/auto-save-list/
/anaconda-mode/
/backups/
/desktop/
/elpa/
/pyim/
/el-get/
/Helm-adaptive-history
/ido.last
/places
/recentf
/request/
/smex-items
/srecode-map.el
/places
/cache/
/.cache/
/undo/
/ac-comphist.dat
savehist
tramp
*.elc
*~
.#*
.DS_Store
/#ido.last#
/url/
.mc-lists.el
projectile-bookmarks.eld
.persistent-scratch
company-statistics-cache.el
network-security.data
._*
session.*
**/.tern-port
/meghanada/
/semanticdb/
/eshell/history
/eshell/lastdir
