/auto-save-list/
/anaconda-mode/
/abbrev_defs/
/backups/
/elpa/
/snippets/
/helm-adaptive-history
/ido.last
/places
/recentf
/request/
/smex-items
/srecode-map.el
/places
/cache/
/undo/
/ac-comphist.dat
*.elc
*~
.#*
.DS_Store
